<h1>创建一个新餐厅</h1>
<br>

<% if @restaurant.errors.any? %>
<div id="error_explaination">
	<strong>创建失败！以下是错误信息：</strong>
	<ul>
		<% @restaurant.errors.full_messages.each do |m| %>
		<li><%= m %></li>
		<% end %>
	</ul>
</div>S
<% end %>

<%= render "partial" %>

<br>
<strong> <%= link_to "back", restaurants_path %></strong>